* {
  box-sizing: border-box;
}

body {
    font-family: $font-family-sans;
    background-color: $color-background;
}

ul p {
    margin: 0;
}

nav {
  margin: 0;
}

hr {
  margin: 25px 0;
  border: 0;
  height: 1px;
  background-color: $color-border;
}
